@font-face {
  font-family: 'geeseband';
  src: url('./assets/geeseband.otf');
}

.main_div {
  margin: 0 !important; 
  height: 100vh;
  width: 100vw;
  background: url('./assets/bg_cracked_plaster.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: 'geeseband';
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.center_div{
  margin:auto;
  width:fit-content;
}

.title_div {
  font-size: 36px;
  margin:auto;
  justify-content: center;
  display: flex;
}

.gallery {
  margin:auto;
  width:fit-content;
}
.nav_div {
  display: inline-block;
  text-align: center;
  margin: auto;
  justify-content: center;
  font-size: 24px;
}

.nav_ul {
  list-style: none;
  margin:0px;
  padding:0px;
}

.nav_ul li {
  margin-top:10px;
}

.link {
  text-decoration: none;
  color:black;
  text-transform: uppercase;
}

@keyframes flash {
  0%   {color: black;}
  25%  {color: darkgrey;}
  50%  {color: black;}
  100% {color: darkgrey;}
}

.link:hover {
  animation-name: flash;
  animation-duration: 2s;
}

button.link {
  background:transparent;
  border: none;
  font-family: 'geeseband';
  font-size: 24px;
}

.gallery_image {
  margin-top:20px;
}